/* fonts*/
@font-face {
    font-family: cantarellregular;
    src: url('../fonts/cantarell/cantarell-regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: fira_sansbold;
    src: url('../fonts/firasans/firasans-bold.otf');
    font-weight: normal;
    font-style: normal;

}

/* General setup */
* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  font-family: 'cantarellregular';
  font-size: 10px;
  letter-spacing: 1px;
  word-spacing: 1px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

h2, header{
  font-family : 'fira_sansbold';
  letter-spacing: 3px;
}

 h2{
  font-size: 14px;
}


header{
  text-align: center;
  font-size: 16px;
}

.para
{
  text-indent: 20px;
}

.para img{
  width:15px;
  height:15px;
}
p, li, a{
  line-height: 1.5;
}

ul{
  padding: 0;
  width:100%;
}

section ul{
  padding-left: 20px;
  list-style-type: circle;
}


nav li{
  border:1px solid #a66;
  list-style: none;
  width:150px;
  height:50px;
  padding:14px 16px;
  margin-bottom:15px;
}

nav a{
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 12px;
}

a[href*="http"]
{
  background: url('../Typesetting/external-link.png') no-repeat 100% 2px;
  background-size: 10px;
  color:#a66;
  padding-right:15px;
}


a:link, a:visited, a:focus, a:hover {
  color:#a66;
}

a:hover, a:focus{
  text-decoration: none;
  outline: none;
}

a:active{
  color:red;
  text-decoration: underline;
  text-decoration-color: red;
}
